:root {
    --background-color: #F5F5F5;
    --primary-color: #FF7900;
    --botton-color: #3487FF;
}

html,
body {
    background-color: var(--background-color);
    height: 100%;
    padding: 0;
    margin: 0;
}

.header-page {
    background-color: var(--primary-color);
    height: 5%;
    margin: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page h1 {
    margin: 0;
    text-align: left;
    color: white;
}

.logout-button {
    background-color: var(--primary-color);
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
}

.logout-button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    height: 95%;
}

nav {
    background-color: black;
    width: 20%;
    height: 100%;
}

nav p {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 5px;
    padding: 0 20px;
}

li[class="link"]:hover {
    border-left: 2px solid var(--primary-color);
}

.button-add {
    background-color: black;
    border: 2px dotted var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    padding: 15px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.icon-add {
    width: 20px;
    padding-right: 10px;
}

.link-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.link-title p {
    font-size: 18px;
}

h1 {
    text-align: center;
}

.form-login {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 8px gray;
    background-color: white;
}

.head-login {
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.head-login p {
    color: white;
    text-align: center;
    font-size: 24px;
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #417690;
    background-color: var(--background-color);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button input {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.error-message {
    color: red;
    text-align: center
}

.go-page {
    text-align: center;
    color: black;
    font-size: 18px;
}

font-size: 18px;

}